{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Celeste pizza{% endblock %}

{% block page_content %}    

    <div class="intro-login class500">
        <div class="container">
            <div class="page-header">
                <div class="hero-text">
                    <h1 style="font-size: 6em;">500 ERROR</h1>
                    <p style="font-size: 1em;">Radimo na tome!</p>
                    <button class="button500" onclick="window.location.href = '/';">Natrag na početnu</button>
                </div>
            </div>
        </div>
    </div>

{% include 'footer.html' %}
{% endblock %}